 /* Navegation */
 nav ul li {
 	position: relative;
 	color: #fff;
 }
 nav ul li a{
 	display: block;
 }
 nav ul li a:hover{
 	color: #FFF;
 }

 nav ul li ul{
    display: none;
    position: relative;
    background-color: #039FBF;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    z-index: 1000;
  }

  nav ul li:hover ul{
    display: block;
  }

  nav ul li ul li{
  	width: 180px;
  	border-radius: 4px;
  }

  nav ul li ul li a{
  	padding: 8px 10px;
  }

  nav ul li ul li a:hover{
  	background-color: #002b3d;
  }

  /* Navegation */